@import url('css/variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  overflow-y: hidden;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 3rem);
  padding: 0 var(--pad_aside) 20px var(--pad_aside);
  background: var(--white-color);
  overflow-y: auto;
  overflow-x: hidden;
}
.main {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--black-color);
  background: var(--white-color);
  margin: 0;
  padding: 0;
  position: relative;
  user-select: none;
}
.settings__title,
.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10%;
  background: transparent;
  font-size: 1.2em;
  margin: 0;
  flex: none;
}




.lessons {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0px 22px 44px -12px rgba(49,49,49,0.3);
  border-radius: 20px;
  position: relative;
}
.lessons__content {
  width: 100%;
  border-radius: 0 0 20px 20px;
  overflow-y: auto;
}
.lessons__title,
.notitfication__title   {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 60px;
  flex: none;
  font-weight: normal;
  background-color: var(--main-color);
  color: var(--white-color);
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
}
.lessons_dropOld {
  width: calc(100vw - var(--pad_aside) * 2);
  position: fixed;
  right: 0vw;
  animation-duration: var(--duration);
  animation-timing-function: ease;
}
.lessons_insertNew {
  position: relative;
  animation: insertLessons var(--duration) ease;
}




.lesson {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 10px;
  padding: 0 15px 15px 15px;
  box-sizing: border-box;
  position: relative;
}
.lesson__title {
  flex: 0;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0.7em;
  position: relative;
}
.lesson__content {
  max-width: calc(100% - 15px*4 - 20px);
  /* width: 100%; */
}
.lesson__time-cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 15%;
  padding-right: 12.5px;
  flex: none;
  box-sizing: border-box;
}
.lesson__time {
  margin-bottom: 0.5em;
  font-size: 0.9em;
}
.lesson__arrow {
  position: absolute;
  height: 100%;
  width: 15px;
  background-image: url("images/arrow.svg");
  background-position: center right;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  right: 15px;
}
.lesson__line {
  height: 1.2px;
  width: 94%;
  background-image: linear-gradient(90deg, rgba(49,49,49,0.1), rgba(49,49,49,0.1) 65%, transparent 60%, transparent 100%);
  background-size: 30px 1.2px;
  position: absolute;
  bottom: 0;
  left: 3%;
}
.lesson_now .lesson__title::after {
  content: '';
  height: 7.5px;
  width: 7.5px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: calc(50% - 7.5px / 2);
}
.lesson-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color: rgba(49,49,49,0.5);
  position: fixed;
  right: 0;
  bottom: 0;
  transition: var(--duration) ease;
}
.lesson-info .week-days {
  margin: 10px 0;
}
.lesson-info__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(100% - 10vw);
  min-height: 40vh;
  box-sizing: border-box;
  padding: 15px var(--pad_aside);
  background-color: var(--white-color);
  border-radius: 10px 10px 0 0;
  transition: var(--duration) ease bottom;
}
.lesson-info__title {
  width: 100%;
  padding-bottom: 7.5px;
  margin-bottom: 7.5px;
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 1.5px solid var(--main-color);
}
.lesson-info__active {
  position: absolute;
  bottom: 0;
  animation: info var(--duration) ease;
}
.lesson-info__activeBg {
  animation: infoBg var(--duration) ease;
}
.lesson-info__innerActive {
  animation: infoContent var(--duration) ease;
  animation-delay: 0.15s;
}





.week-days {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.week-days__day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50px;
  height: 50px;
  margin: 0 4px;
  flex: none;
  background-image: linear-gradient(90deg, var(--lgrey-color) 20%, var(--main-color) 40%, var(--main-color) 60%, var(--lgrey-color) 80%);
  background-size: 500%;
  border-radius: 12px;
}
.week-color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 5.5vh;
  width: 100%;
  position: relative;
}
.week-color__text {
  margin: 0 0;
  text-align: center;
  font-size: 0.9em;
}
.week-color__underline {
  width: 45%;
  height: 2px;
  position: absolute;
  bottom: 0.7vh;
  background-color: rgba(49,49,49,0.7);
}




.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 7.5vh;
  box-sizing: border-box;
  padding: 0 10vw;
  background-color: #f4f6f7;
  color: rgba(49,49,49,0.7);
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
}
.navbar__button {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.navbar__icon {
  width: 3.5vh;
  height: 3.5vh;
  margin-bottom: 5px;
}
.navbar_settings {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.navbar_lessons {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar_notification {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar__icon-color {
  stroke: none;
}




.groupes {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0px 22px 44px -12px rgba(49,49,49,0.3);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90vw;
  max-height: 80vh;
  box-sizing: border-box;
  margin-top: 12vh;
  position: absolute;
  right: var(--pad_aside);
}
.groupes__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: none;
  width: 100%;
  height: 80px;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid var(--main-color);
}
.groupes__forms-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: none;
  height: 100px;
  width: 100%;
}
.btn-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 45px;
}
.submit {
  margin-left: 7.5px;
  flex: 1;
  height: 85%;
  background-color: var(--lgrey-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: var(--black-color);
}
.form {
  flex: 3;
  height: 85%;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--main-color);
}
.form::placeholder {
  font-size: 1em;
}
.groupes__form-title {
  font-size: 1.2em;
  margin-bottom: 7.5px;
}
.groupes__cont {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50vh;
  overflow-y: auto;
  padding-top: 5px;
  box-sizing: border-box;
}
.groupes__groupe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 45px;
  height: 25px;
  margin: 5px;
  border: 1.5px solid var(--main-color);
  border-radius: 4px;
  font-size: 0.9em;
}
.settings {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.settings__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0px 22px 44px -12px rgba(49,49,49,0.3);
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
}




.lessons_diner {
  color: rgba(49,49,49,0.2);
  align-items: center;
}
.lessons_diner .lesson__time-cont {
  flex-direction: row;
}
.lessons_diner .lesson__time {
  margin-bottom: 0;
}
.lessons_diner .lesson__title {
  margin: 0;
}


.notifications__container{
  height: auto;
  /* overflow: auto; */
}
.notifications__content {
  background-color: #F4F6F7;
  border-radius: 20px;
  box-shadow: 0px 22px 44px -12px rgba(49,49,49,0.3);
  margin-bottom: 2rem;
}

.notitfication_type-high {
  background-color: #FA5A5A;
}

.notitfication_type-mid {
  background-color: var(--main-color);
}

.notitfication_type-low {
  background-color: #DFDFDF;
  color: #313131;
}

.notifications_info {
  padding: 1rem;}


.lesson_was {
  text-decoration: line-through;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}

.lesson_became {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aud_became {
  text-align: right;
}




@media (min-height: 595px) {
  .lessons {
    height: 81%;
  }
  .navbar__icon {
    width: 3vh;
    height: 3vh;
  }
}
@media (max-width: 420px) {
  .lesson__time-cont {
    width: 17%;
  }
  .navbar {
    font-size: 0.7em;
  }
}
@media (max-width: 380px) {
  .notitfication__title 
  .lessons__title {
    font-size: 1.1em;
  }
}
@media (max-width: 360px) {
  .notitfication__title 
  .lessons__title {
    font-size: 1em;
  }
  body {
    font-size: 0.95em;
  }
}
@media (max-width: 330px) {
  body {
    font-size: 0.9em;
  }
}
@media (max-height: 620px) {
  .groupes__cont {
    max-height: 40vh;
  }
}

