flBox(main, sec, dir = row, wr = nowrap)
    display flex
    justify-content main
    align-items sec
    flex-direction dir
    flex-wrap wr

posA(t, r, b, l)
    position absolute
    top t
    right r
    bottom b
    left l

imgBg(path, pos=center, size=contain, rep=no-repeat, att=scroll)
    background-image url(path)
    background-position pos
    background-size size
    background-repeat rep
    background-attachment att




card()
    width 100%
    flBox(flex-start, center, column)
    box-shadow 0px 22px 44px -12px alpha(col_black, 0.3)
    border-radius 20px