col_yellow = #FABC58
col_blue = #81A2FF
col_red = #F17B7B
col_white = #FFFFFF
col_lgrey = #F4F6F7
col_black = #313131

pad_lessons_aside = 15px

height_navbar = 7.5vh
height_info = 40vh

trans_dur = .4s