@import 'css/fonts.styl'
@import 'css/variables.styl'
// @import 'css/tags.styl'
@import 'css/mixins.styl'

*
    overflow-x hidden
.main 
    flBox(space-between, center, column)
    height 100vh
    box-sizing border-box
    margin 0
    padding 0 pad_main_aside
    background-color col_white
    color col_black
    font-family 'Roboto', sans-serif
    position relative
    user-select none

.settings__title
.main__title
    flBox(center, center)
    height 7vh
    font-size 1.2em
    margin 0 




.lessons
    height 60%
    card()
    // transition trans_dur ease
    position relative

.lessons__content
    width 100%
    border-radius 0 0 20px 20px
    overflow-y auto

.lessons__title
    flBox(flex-start, center)
    width 100%
    height 60px
    flex none
    font-weight normal
    background-color col_yellow
    color col_white
    margin 0
    padding 0 pad_lessons_aside
    box-sizing border-box
    border-radius 20px 20px 0 0

.lessons_dropOld
    width 100vw - pad_main_aside*2
    position absolute
    right 0vw
    animation-duration trans_dur
    animation-timing-function ease
.lessons_insertNew
    position relative
    animation insertLessons trans_dur ease




.lesson
    flBox(flex-start, flex-start)
    width 100%
    margin-top 10px
    padding 0 pad_lessons_aside pad_lesson_botom pad_lessons_aside
    box-sizing border-box
    position relative

.lesson__title
    flex 0
    padding-right 15px
    margin-top 0
    margin-bottom .7em
    position relative


.lesson__content
    max-width calc(100% - 10% - 15px*2 - 15px - 10px)

.lesson__time-cont
    flBox(flex-start, flex-start, column)
    width 10%
    padding-right pad_lessons_aside
    flex none
.lesson__time
    margin-bottom .5em
    font-size .9em

arrow_size = 15px
.lesson__arrow
    position absolute
    height 100%
    width arrow_size
    imgBg('images/arrow.svg', center right, arrow_size arrow_size)
    right arrow_size

.lesson__line
    height: 1.2px;
    width 94%;
    background-image: linear-gradient(90deg, alpha(col_black, .10), alpha(col_black, .10) 65%, transparent 60%, transparent 100%);
    background-size: 30px 1.2px;
    position absolute;
    bottom 0
    left ((100% - @width) / 2)

.lesson_now
    .lesson__title::after
        content ''
        height 7.5px
        width @height
        background-color col_yellow
        border-radius 50%
        position absolute
        right 0px
        bottom calc(50% - 7.5px/2)
        // bottom 50%

    



.lesson-info
    flBox(flex-end, center, column)
    width 100%
    height 100%
    background-color alpha(col_black, 0.5)
    position fixed
    transition trans_dur ease
    .week-days
        margin 10px 0

.lesson-info__content
    flBox(flex-start, flex-start, column)
    width calc(100% - 10vw)
    min-height height_info
    box-sizing border-box
    padding 15px pad_main_aside
    background-color col_white
    border-radius 10px 10px 0 0
    transition trans_dur ease bottom

.lesson-info__title
    width 100%
    padding-bottom 7.5px
    margin-bottom 7.5px
    font-size 1.4em
    font-weight bold
    border-bottom 1.5px solid col_yellow
    

.lesson-info__active
    position absolute
    bottom 0
    animation info trans_dur ease
.lesson-info__activeBg
    animation infoBg trans_dur ease
.lesson-info__innerActive
    animation infoContent trans_dur ease
    animation-delay .15s


.week-days
    width 100%
    overflow-x auto
    flBox(center, center)

.week-days__day
    flBox(center, center)
    width 50px
    height 50px
    margin 0 4px
    flex none
    background-image linear-gradient(90deg, col_lgrey 20%, col_yellow 40%, col_yellow 60%, col_lgrey 80%)
    background-size 500%
    border-radius 12px




.week-color
    flBox(center, center, column)
    height 5.5vh
    width 100%
    position relative
    
.week-color__text 
    margin 0 0
    text-align center
    font-size 0.9em

.week-color__underline
    width 45%
    height 2px
    position absolute
    bottom .7vh
    background-color alpha(col_black, 0.7)



    
.navbar
    flBox(center, center)
    width 100%
    height height_navbar
    box-sizing border-box 
    padding 0 (pad_main_aside*2)
    background-color col_lgrey
    color alpha(col_black, 0.7)
    font-size 0.8em
    position absolute
    bottom 0

.navbar__doubler
    width 100%  
    height height_navbar
    flex none

.navbar__button
    width 30vw
    flBox(space-between, center, column)

.navbar__icon
    width 3.5vh
    height @width
    margin-bottom 5px

.navbar_settings
    imgBg('images/settings.svg')
.navbar_lessons
    imgBg('images/lessons.svg')
.navbar_notification
    imgBg('images/notification.svg')



.groupes
    card()
    padding 15px
    flBox(flex-start, center, column)
    width 100vw - pad_main_aside*2
    max-height 80vh
    box-sizing border-box
    margin-top 12vh
    position absolute
    right pad_main_aside

.groupes__title
    flBox(center, center)
    flex none
    width 100%
    height 80px
    margin 0
    text-align center
    border-bottom 2px solid col_yellow
    
.groupes__forms-cont
    flBox(center, flex-start, column)
    flex none
    height 100px
    width 100%

.btn-form
    flBox(flex-start, center)
    width 100%
    height 45px

.submit
    margin-left 7.5px
    flex 1
    height 85%
    background-color col_lgrey
    border 1px solid col_yellow
    border-radius 4px
    color col_black

.form
    flex 3
    height 85%
    padding 3px
    box-sizing border-box
    border-radius 4px
    border 1px solid col_yellow
.form::placeholder
    font-size 1em

.groupes__form-title
    // height 3vh
    font-size 1.2em
    margin-bottom 7.5px
    
.groupes__cont
    flBox(flex-start, flex-start, row, wrap)
    width 100%
    // min-height 50vh
    overflow-y auto
    padding-top 5px
    box-sizing border-box

.groupes__groupe
    flBox(center, center)
    width 45px
    height 25px
    margin 5px
    border 1.5px solid col_yellow
    border-radius 4px
    font-size 0.9em




.settings
    width 100vw
    height 'calc(100% - %s)' %height_navbar
    padding 0 pad_main_aside
    box-sizing border-box
    position absolute

.settings__content
    card()
    padding 15px
    box-sizing border-box





// модификаторы
.lessons_diner
    // justify-content center
    color alpha(col_black, 0.2)
    align-items center
    .lesson__time-cont
        flex-direction row
        // width 40%
    .lesson__time
        margin-bottom 0
        // margin-right 5px
    .lesson__title
        margin 0




@media (min-height : 595px)
    .lessons
        height 68%
    .navbar__icon
        width 3vh
        height @width

@media (max-width : 420px)
    .lesson__time-cont
        width 13%
    .navbar
        font-size 0.7em
@media (max-width : 380px)
    .lessons__title
        font-size 1.1em
@media (max-width : 360px)
    .lessons__title
        font-size 1em
    body
        font-size 0.95em
@media (max-width : 330px)
    body
        font-size 0.9em
@media (max-height : 620px)
    .groupes__cont
        max-height 40vh



@keyframes info 
    0%
        bottom -100%   
    100%
        bottom 0

@keyframes infoBg 
    0%
        opacity 0
    100%
        opacity 1

@keyframes infoContent 
    0%
        margin-bottom 20px   
    100%
        margin-bottom 0


        

@keyframes dropLessonsRight
    0%
        transform translatex(0 - pad_main_aside) 
    100%
        transform translatex(100vw)  

@keyframes insertLessonsRight
    0%
        transform translatex(-100vw)  
    100%
        transform translatex(0) 

@keyframes dropLessonsLeft
    0%
        transform translatex(0 - pad_main_aside) 
    100%
        transform translatex(-100vw) 

@keyframes insertLessonsLeft
    0%
        transform translatex(100vw)  
    100%
        transform translatex(0) 
